@import 'tailwindcss';

@font-face {
  font-family: lausane300;
  src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: lausane500;
  src: url(/fonts/Lausanne-500.woff2);
}

@theme {
  --color-sapgreen: #d3fd50;
}
