@import 'tailwindcss';

@font-face {
  font-family: lausane300;
  src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: lausane500;
  src: url(../public/fonts/Lausanne-500.woff2);
}
